.App {
  /* text-align: center; */
  border: 5px solid red;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
}
.messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
  align-items: center;
}

.form {
  
}
.humanMsg {
  align-self: flex-start;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 5px;
}
.humanMsg p {
  margin: 0;
}
.robotMsg {
  margin-bottom: 5px;
  align-self: flex-end;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
}
.robotMsg p {
  margin: 0;
}